.about{
   
    width: 100%;
    min-height: 300px;
    

    .about-content{
        padding:32px;
        .title{
            text-align: center;
        }
       p{
           margin: 4px;
           padding: 4px;
       }
    }

    
}

