.swiper-wrapper > .swiper-slide {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .slide-content-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    .slide-content {
      margin-top: -117px;
      padding: 16px;
      max-width: 50%;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 8px;
      color: white;
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.slider-hover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: grid;
  grid-template:
    ". . ."
    ". . navigation"
    "pagination pagination pagination";
  .slider-navigation {
    pointer-events: all;
    grid-area: navigation;
    align-self: center;
    justify-self: end;
    display: flex;
    div {
      padding: 0 3px;
      cursor: pointer;
      svg {
        background-color: $mainColor;
        border-radius: 100%;
        padding: 8px;
        fill: white;
        &:hover {
          background-color: #a10f16;
        }
      }
    }
  }

  .slider-pagination {
    grid-area: pagination;
    align-self: end;
    justify-self: center;
    padding-bottom: 136px;
    pointer-events: all;
    .swiper-pagination-bullet {
      width: 80px;
      height: 6px;
      border-radius: 5px;
      background: $mainColor;
    }
  }
}
