.swiper-wrapper > .swiper-slide {
  height: 100vh;
  position: relative;
  .slide-content-wrapper {
    display: flex;
    height: 100%;
    align-items: flex-end;
    .slide-content {
      margin-bottom: 160px;
      max-width: 50%;
      border-radius: 8px;
      color: white;
      h2 {
        font-size: 32px;
        margin-bottom: 16px;
      }
      p {
        font-size: 14px;
        line-height: 1.1;
      }
      .read-more {
        padding: 5px;
        display: inline-block;
        margin-top: 10px;
        border-radius: 10px;
        background-color: $mainColor;
      }
    }
  }
}

.slider-hover {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 117px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .slider-navigation {
    display: flex;
    div {
      padding: 0 3px;
      cursor: pointer;
      svg {
        background-color: $mainColor;
        border-radius: 100%;
        padding: 8px;
        fill: white;
        &:hover {
          background-color: #a10f16;
        }
      }
    }
  }

  .slider-pagination {
    .swiper-pagination-bullet {
      width: 80px;
      height: 6px;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 5px;
      background: white;
      opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
      background-color: $mainColor;
      opacity: 1;
    }
  }
}
