.parallax {
	min-height: 60vh;
	margin-top: 24px;
	width: 100%;
  
	.parallax-content {
	  color: #fff;
	  font-size: 24px;
	  padding: 80px;
  
	  h1 {
		margin-bottom: 32px;
	  }
  
	  > * {
		font-family: "Encode Sans", sans-serif;
	  }
	}
  }
  