.parallax {
  margin-top: 24px;
  width: 100%;

  .parallax-content {
    color: #fff;
    font-size: 1.2rem;
    padding: 120px 80px 200px 80px;

    h1 {
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 1024px) {
  .parallax {
    .parallax-content {
      text-align: center;
      padding: 36px 36px 96px 36px;
    }
  }
}
