.home-slider {
  .swiper-wrapper > .swiper-slide {
    height: 100vh;
    position: relative;
    .slide-content-wrapper {
      display: flex;
      height: 100%;
      align-items: flex-end;
      .slide-content {
        margin-bottom: 200px;
        position: relative;
        max-width: 50%;
        border-radius: 8px;
        color: white;
        h2 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        .read-more {
          position: absolute;
          bottom: -80px;
          padding: 10px 20px;
          display: inline-block;
          border-radius: 3px;
          background-color: $mainColor;
          font-size: 1rem;
          &:hover {
            background-color: $secondaryColor;
          }
        }
      }
    }
  }
}

.slider-hover {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 112px;

  .slider-navigation {
    position: absolute;
    bottom: 8px;
    right: 0;
    display: flex;
    div {
      padding-left: 8px;
      cursor: pointer;
      svg {
        background-color: $mainColor;
        border-radius: 0;
        padding: 0.75rem;
        fill: #fff;
        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }

  .slider-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-bullet {
      width: 80px;
      height: 6px;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 5px;
      border-radius: 5px;
      background: white;
      opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
      background-color: $mainColor;
      opacity: 1;
    }
  }
}
