.sub-nav-menu {
  border-bottom: 2px solid rgb(180, 180, 180);
  text-align: center;
  button {
    margin: 2px 2px 4px 2px;
    padding: 4px 8px;
    font-size: 0.98rem;
    font-family: "Encode Sans";
    cursor: pointer;
    background-color: rgb(225, 225, 225);
    &:hover {
      background-color: rgb(200, 200, 200);
    }
  }
}
