.timeline {
  .timeline-item {
    display: flex;

    .item-photo {
      img {
        width: 20em;
        height: 16em;
        padding: 1em;
        object-fit: cover;
      }
    }
    .item-meta {
      padding: 2em;
      position: relative;
      color: rgba(black, 0.8);
      border-left: 2px solid rgba(black, 0.3);

      h1 {
        font-size: 1.8rem;
        margin-bottom: 6px;
      }

      .item-photo {
        background-color: black;
      }

      &:before {
        content: attr(date-is);
        position: absolute;
        left: 1.5em;
        font-weight: bold;
        top: 1.3em;
        display: block;
        font-weight: 700;
        font-size: 0.75rem;
      }

      &:after {
        width: 10px;
        height: 10px;
        display: block;
        top: 1em;
        position: absolute;
        left: -8px;
        border-radius: 10px;
        content: "";
        border: 2px solid rgba(black, 0.3);
        background: white;
      }
    }
    &:last-child {
      border-image: linear-gradient(
          to bottom,
          rgba(black, 0.3) 60%,
          rgba(rgba(black, 0.3), 0)
        )
        1 100%;
    }
  }
}

@media (max-width: 768px) {
  .timeline {
    .timeline-item {
      display: flex;
      flex-direction: column;

      .item-photo {
        img {
          width: 24em;
          height: 18em;
          padding: 1em 1em 0 1em;
          object-fit: cover;
        }
      }
      .item-meta {
        padding: 0.5em 0 0.25em 1em;
        position: relative;
        color: rgba(black, 0.8);
        border-left: 0;

        h1 {
          font-size: 1.8rem;
          margin-bottom: 6px;
        }

        .item-photo {
          background-color: black;
        }

        &:before {
          content: attr(date-is);
          position: absolute;
          left: 1.5em;
          font-weight: bold;
          top: -2.3em;
          background-color: rgba(0, 0, 0, 0.4);
          padding: 4px;
          color: white;
          display: block;
          font-weight: 700;
          font-size: 0.75rem;
        }

        &:after {
          width: 10px;
          height: 10px;
          display: none;
          top: 1em;
          position: absolute;
          border-radius: 0;
          content: "";
          border: 0;
          background: inherit;
        }
      }
      &:last-child {
        border-image: linear-gradient(
            to bottom,
            rgba(black, 0.3) 60%,
            rgba(rgba(black, 0.3), 0)
          )
          1 100%;
      }
    }
  }
}

@media (max-width: 640px) {
  .timeline {
    .timeline-item {
      display: flex;
      flex-direction: column;

      .item-photo {
        img {
          width: 100%;
          height: 22em;
          padding: 1em 1em 0 1em;
          object-fit: cover;
        }
      }
    }
  }
}
